<html>

<head>
  <link rel="import" href="../components/core-drawer-panel/core-drawer-panel.html">
  <link rel="import" href="../components/core-item/core-item.html">
  <link rel="import" href="../components/core-menu/core-menu.html">
  <link rel="import" href="../components/core-scroll-header-panel/core-scroll-header-panel.html">

</head>

<body>
  <polymer-element name="port-scaffold">
    <template>
      <core-scroll-header-panel condenses navigation flex mode="seamed">
      </core-scroll-header-panel>
    </template>
    <script>
        Polymer("port-scaffold",{
          ready: function() {
          }
        });
    </script>
  </polymer-element>
</body>

</html>
